body, input, textarea {
font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;
}

.headWrap {
  height: 65px ;
  width: 100vw;
  background-color: rgba(255,235,59,0.7);
  position: fixed;
  top: 0;
  z-index: 10;
}
.topheader {
  position: fixed;
  top: -70px;
}


#header {
  text-align: left;
  float: left;
  line-height: 65px;
  padding-left: 20px;
}

#header a {
  color: white;
}

#header a span {
  color: orange;
}


/* メニューバー */
#menu {
  position: absolute;
  right: 0;
}
#menu > li {
  list-style: none;
}
.menu__single {
    width: 120px;
    float: left;
    height: 65px;
    padding: 20px 0px;
    line-height: 25px;
    list-style: none;
}
.menu__single a ,.menu__single p{
  color: white;
  text-decoration: none;
}
.menu__single p {
  font-weight: bolder;
  text-align: center;
}
.menu__single:hover {
  border: 1px solid yellow;
  background-color: rgba(252,203,0,0.8);
}
.menu__single:hover p{
  /* border-bottom: : 5px solid yellow; */
  border-bottom: dashed;
  border-bottom-width: 2px;
  font-style: italic;
}
.menu__second-level {
    position: absolute;
    top: 55px;
    width: 120px;
    text-align: center;
    background-color: rgba(252,203,0,0.8);
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}
.menu__second-level li {
    border: 1px solid yellow;
    list-style: none;
    line-height: 50px;
}
.menu__second-level li:hover {
  background-color: rgba(252,154,0,0.8);
}
.menu__single:hover ul.menu__second-level {
    top: 65px;
    visibility: visible;
    opacity: 1;
}



#contents {
  position: relative;
  top: 0;
}

#main {
  height: 100vh;
  background-color: black;
}

#main img{
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    object-fit: cover;
    opacity: 0;
}

.top {
  text-align: center;
}
.top > h2{
  font-size: 4.7vw;
  width: 100vw;
  color: grey;
  padding: 10vw 0 8vw 0;
}
.top p {
  font-size: 2vw;
  color: grey;
  padding: 1vw;
}
.top h4 {
  font-size: 3.5vw;
  padding-top: 7vw;
  padding-bottom: 15vw;
  color: darkgrey ;
}
.spbr {
  display: none;
}

.menuwrap {
  height: 65vw;
}

.menuwrap img {
    width: 50vw;
    padding-left: 10vw;
    height: 50vw;
    object-fit: cover;
}

.menu {
  font-size: 5vw;
  line-height: 8vw;
  padding-top: 5vw;
  float: right;
  width: 50vw;
  margin: 0 auto;
  text-align: center;
}

.menu h3 {
  padding-bottom: 2vw;
  color: goldenrod;
}

.menu span {
  font-size: 8vw;
  color: darkorange;
}

.menu li{
  list-style: none;
  font-size: 3vw;
  line-height: normal;
  padding: 1vw;
  margin: 1.7vw auto;
  font-family: cursive;
  width: 20vw;
}
.menu a {
  color: dimgray;
  text-decoration: none;
}


.prowrap {
  height: 50vw;
}


.prowrap img {
    width: 50vw;
    padding-right: 10vw;
    height: 35vw;
    float: right;
    object-fit: cover;
}

.pro {
  font-size: 5vw;
  padding-top: 5vw;
  height: 30vw;
  text-align: center;
  width: 50vw;
}

.pro h3 {
  padding-bottom: 1vw;
  color: goldenrod;
}

.pro span {
  font-size: 8vw;
  color: darkorange;
}


.pro p {
  font-size: 2vw;
  padding: 1vw;
  color: grey;
  text-align: center;
  width: 30vw;
  margin: 0 auto;
}
.pro a{
  font-size: 3vw;
  text-decoration: none;
  padding-left: 0.5vw;
  padding: 1.5vw;
  line-height: normal;
  color: dimgray;
  font-family: cursive;
}

.infowrap {
  height: 45vw;
}

.infowrap img {
    width: 50vw;
    padding-left: 10vw;
    height: 40vw;
    object-fit: cover;
}

.info {
  font-size: 5vw;
  padding-top: 5vw;
  height: 30vw;
  text-align: center;
  width: 50vw;
  float: right;
}

.info h3 {
  padding-bottom: 1vw;
  color: goldenrod;
}

.info span {
  font-size: 8vw;
  color: darkorange;
}

.info li{
  font-size: 3vw;
  padding: 1vw;
  margin: 1.7vw auto;
  font-family: cursive;
  width: 30vw;
  list-style: none;
}

.info a {
  color: dimgray;
  text-decoration: none;
}



.contactwrap {
  height: 55vw;
}

.contact {
  font-size: 5vw;
  padding-top: 5vw;
  text-align: center;
  padding-bottom: 2vw;
}

.contact h3 {
  padding-bottom: 1vw;
  color: goldenrod;
}

.contact span {
  font-size: 8vw;
  color: darkorange;
}

.contactlist {
  padding: 0 5vw;
}
.contactlist img {
  height: 80%;
  width: 90%;
}
.contactlist p {
  padding-top: 2vw;
  font-size: 2.7vw
}

.con1 , .con2  , .con3 {
  text-align: center;
  height: 30vw;
  width: 30vw;
  float: left;
  border-radius: 50%;
  border: dashed 20px white;
}
.con1 a, .con2  a, .con3 a{
  text-decoration: none;
  color: grey;
}
.con1:hover , .con2:hover , .con3:hover {
  border: dashed 20px yellow;
}
.con1:hover p, .con2:hover p, .con3:hover p{
    color: orange;
    font-weight: 600;
    font-size: 3.5vw;
}

.photwrap {
      padding-bottom: 2vw;
}
.phot {
  font-size: 5vw;
  padding-top: 5vw;
  text-align: center;
}
.phot h3 {
  padding-bottom: 1vw;
  color: goldenrod;
}
.phot span {
  font-size: 8vw;
  color: darkorange;
}

#photgallery {
  width: 100vw;
  overflow: hidden;
}

#photgallery img {
  height: 20vw;
  width: 20vw;
  object-fit: cover;
  margin: 0;
  padding: 0;
  float: left;
}



.photlink {
  text-align: right;
}
.photlink a {
  color: dimgray;
  text-decoration: none;
  font-size: 3vw;
  font-family: cursive;
  margin-right: 3vw;
}
.photlink a:hover {
  border-bottom: dotted 3px yellow;
  font-style: italic;
}




.page {
  padding-top: 100px;
  padding-left: 10vw;
  padding-right: 10vw;
  list-style: none;
}

.page h2 {
  color: goldenrod;
  font-size: 4vw;
  text-align: center;
}

.page h3{
    padding-top: 2vw;
    font-size: 3vw;
    line-height: 5vw;
    color: dimgray;
    font-family: cursive;
    text-align: center;
}
.page p {
 text-align: center;
 padding-top: 2vw;
 padding-bottom: 3vw;
}


/* コース料理の一覧ページ */
.coursetoppage {
  padding-top: 100px;
  text-align: left;
  margin: 0 auto;
  width: 80vw;
  padding-bottom: 2vw;
}
.coursetoppage h2 {
  color: goldenrod;
  text-align: center;
  font-size: 4vw;
  padding-bottom: 4vw;
}
.coursetitle {
  text-align: center;
  height: 20vw;
}
.coursetitle img {
  width: 40vw;
  height: 20vw;
  object-fit: cover;
  float: left;
}
.coursetitle h3{
    font-size: 2vw;
    color: dimgray;
    font-family: cursive;
    text-align: center;
    padding-top: 4vw;
}
.pppp img {
  float: right;
}

/* コース料理の各ページ */
.coursepage {
  padding-top: 100px;
  text-align: left;
  margin: 0 auto;
  width: 75vw;
  padding-bottom: 2vw;
}
.coursepage h2 {
  color: goldenrod;
  text-align: center;
  font-size: 4vw;
}
.coursepage h3{
    padding-top: 4vw;
    padding-bottom: 1.5vw;
    font-size: 3vw;
    line-height: 5vw;
    color: dimgray;
    font-family: cursive;
    text-align: center;
}
.coursepage p {
   padding: 1vw;
}

.backimg {
  text-align: center;
  position: fixed;
  top: 20vw;
  left: 20vw;
  z-index: -10;
}
.backimg::after {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0 0 20px 20px white;
}
.backimg img {
  object-fit: cover;
  width: 60vw;
  height: 35vw;
  opacity: 0.1;
}


/* フードメニューページ */
.foodmenu {
  padding-top: 100px;
  text-align: left;
  margin: 0 auto;
  width: 70vw;
}
.foodmenu h2 {
  color: goldenrod;
  text-align: center;
  font-size: 4vw;
  padding-bottom: 2vw;
}
.foods {
  display: inline-block;
  width: 34vw;
  text-align: center;
  padding-top: 3vw;
}
.foods img {
  width: 30vw;
  height: 30vw;
  object-fit: cover;
}
.menulink {
  padding-top: 9vw;
  padding-bottom: 1vw;
  font-size: 2vw;
  font-family: serif;
}
.l-menu {
  float: left;
}
.r-menu {
  text-align: right;
}

/* スイーツメニューページ */
.sweets_menu {
  padding-top: 100px;
  text-align: left;
  margin: 0 auto;
  width: 70vw;
  padding-bottom: 10vw;
}
.sweets_menu h2 {
  color: goldenrod;
  text-align: center;
  font-size: 4vw;
  padding-bottom: 2vw;
}
.sweets {
  display: inline-block;
  width: 34vw;
  text-align: center;
  padding-top: 3vw;
}
.sweets img {
  width: 30vw;
  height: 30vw;
  object-fit: cover;
}


/* 外観ページ */
.gaikanpage {
  padding-top: 100px;
  text-align: left;
  margin: 0 auto;
  width: 70vw;
  padding-bottom: 10vw;
}
.gaikanpage h2 {
  color: goldenrod;
  text-align: center;
  font-size: 4vw;
  padding-bottom: 2vw;
}
.gaikan {
  display: inline-block;
  width: 34vw;
  text-align: center;
  padding-top: 3vw;
}
.gaikan img {
  width: 30vw;
  height: 30vw;
  object-fit: cover;
}



/* ドリンクメニューページ */
.drinkmenu {
  padding-top: 100px;
  text-align: left;
  margin: 0 auto;
  width: 50vw;
  padding-bottom: 2vw;
}
.drinkmenu h2 {
  color: goldenrod;
  text-align: center;
  font-size: 4vw;
}
.drinkmenu h3{
    padding-top: 4vw;
    padding-bottom: 1.5vw;
    font-size: 3vw;
    line-height: 5vw;
    color: dimgray;
    font-family: cursive;
    text-align: center;
}
.drinktitle li {
  list-style: none;
}
.drinktitle span {
  float: right;
  text-align: right;
}


/* こだわりページ */
.commitment_page {
  padding-top: 100px;
  text-align: left;
  margin: 0 auto;
  width: 70vw;
  padding-bottom: 2vw;
}
.commitment_page h2 {
  color: goldenrod;
  text-align: center;
  font-size: 4vw;
  padding-bottom: 3.5vw;
}
.commitment_page h3 {
  font-size: 3vw;
}
.commitment_page p {
  font-size: 1.7vw;
  width: 65vw;
  background-color: rgba(255,255,255,0.7);
  padding: 2vw;
  box-shadow: 0 0 72px 20px white;
}
.commitment_page img {
  width: 30vw;
  height: 30vw;
}
.tp_1 img {
  position: absolute;
  right: 15vw;
  top: 50vw;
  opacity: 0.7;
  border-radius: 54%;
  z-index: -2;
  box-shadow: 0px 0px 47px 9px whitesmoke;
  object-fit: none;
}
.tp_2 {
  padding-top: 30vw;
  padding-bottom: 30vw;
}
.tp_2 img {
  position: absolute;
  right: 15vw;
  top: 130vw;
  opacity: 0.7;
  border-radius: 54%;
  z-index: -2;
  box-shadow: 0px 0px 47px 9px whitesmoke;
  object-fit: none;
}

/* シェフページ */
.goodpage {
  padding-top: 100px;
  text-align: left;
  margin: 0 auto;
  width: 80vw;
  padding-bottom: 100px;
}
.goodpage h2 {
  color: goldenrod;
  text-align: center;
  font-size: 4vw;
}
.chef h3{
    font-size: 3.5vw;
    color: dimgray;
    line-height: 5vw;
    padding-bottom: 1vw;
}
.chef h4 {
  font-size: 2.5vw;
}
.chef p {
  font-size: 1.5vw
}
.chef img {
  float: left;
  width: 40vw;
  height: 40vw;
}
.chef2 img {
  padding: 3vw;
  float: right;
}
.chef01 ,.chef02 {
  height: 40vw;
  padding-top: 10vw;
  text-align: center;
}

/* よくあるご質問 */
.qa_page {
  padding-top: 100px;
  padding-left: 15vw;
  padding-right: 15vw;
  padding-bottom: 10vw;
  color: grey;
}

.qa_page h2 {
  color: goldenrod;
  font-size: 4vw;
  text-align: center;
}

.qa_page h3{
    padding-top: 1.2vw;
    font-size: 2.4vw;
    line-height: 5vw;
    color: dimgray;
    text-align: center;
    padding-bottom: 1vw;
}
p.qa_title {
  margin-top: 2vw;
  border: dotted 2px gold;
  width: auto;
  padding: 0.5vw 2vw;
  border-radius:25px;
  font-size: 2vw;
  font-weight: 600;
  color: dimgray;
  background-color: rgba(247,228,22,0.1);
}
p.question {
  font-size: 1.7vw;
  padding-left:4vw;
  padding-top: 0.5vw;
}
p.question:hover {
        text-decoration: underline;
}
p.answer {
        display: none;
        background: #f2f2f2;
        margin-left: 6vw;
        padding: 10px;
        font-size: 1.4vw;
}


/* メールページ */
.mailpage {
  padding-top: 100px;
  padding-left: 15vw;
  padding-right: 15vw;
  padding-bottom: 10vw;
  color: grey;
}

.mailpage h2 {
  color: goldenrod;
  font-size: 4vw;
  text-align: center;
  padding-bottom: 3vw;
}

/* 予約ページ */
.reservation_page {
  padding-top: 100px;
  padding-left: 15vw;
  padding-right: 15vw;
  padding-bottom: 10vw;
  color: grey;
}

.reservation_page h2 {
  color: goldenrod;
  font-size: 4vw;
  text-align: center;
  padding-bottom: 3vw;
}





/* フォトギャラリー  */
.phot_page {
  padding-top: 100px;
  padding-left: 15vw;
  padding-right: 15vw;
  color: grey;
}
.phot_page h2 {
  color: goldenrod;
  font-size: 4vw;
  text-align: center;
}
.pg_wrap {
  padding-bottom: 10vw;
  height: 80vw;
}
.pg_wrap a {
  text-decoration: none;
}
.pg {
  width: 33vw;
  height: 33vw;
  border: solid 4px gold;
  margin: 1vw;
  float: left;
  text-align: center;
}
a.pg p {
  font-weight: 600;
  font-size: -webkit-xxx-large;
  color: rgba(0, 0, 0, 0);
  text-shadow: 3px 3px 0 hotpink;
  -webkit-text-stroke: 1px #888;
  text-stroke: 1px #888;
}
a.pg img {
  height: 24vw;
  object-fit: cover;
  position: relative;
  width: 30vw;
}
.pg:hover img {
    opacity: 0.6;
}








/* ここからフッター */

#footer {
  clear: both;
}

#footMenu {
  background-color: lemonchiffon;
  padding: 2vw 5vw;
}
.left_footer {
  float: left;
}
ul.footer_list {
  display: inline-flex;
  font-size: 1.5vw;
}
.m_menu {
  list-style: none;
  padding-right: 4vw;
  color: lightblue;
}
.m_menu p {
  font-size: 2vw;
  font-weight: 600;
}
.m_menu a {
  color: lightblue;
}
.s_menu {
  list-style: none;
  padding-left: 1vw;
}
.s_menu a {
    color: lightsteelblue;
}
.tel {
  font-size: 1.5vw;
  padding-top: 4vw;
  color: dimgray;
}
.tel_no {
  font-size: 4vw;
  font-family: inherit;
  font-weight: 600;
  color: darkgoldenrod;
}
.google_map{
  text-align: right;
}
iframe {
  width: 35vw;
  height: 25vw;
}



#copy {
  text-align: center;
  background-color: gold;
  height: 25px;
  line-height: 25px;
}




/* したからふわっと */

.fadein {
  opacity : 0;
  transform: translateY(20px);
  transition: all 1s;
}



/* リンクタッチボックス */
.box{
  border:1px solid transparent;
   -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
  transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
}

.box::before {
  content: '';
  position: absolute;
  left: 0px;
  bottom:0px;
  z-index:-1;
  width: 0%;
  height:1px;
  background: #6098FF;
  box-shadow: inset 0px 0px 0px #ff00f3;
  display: block;
  -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
  transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
}

.box:hover::before {
  width:100%;
}

.box::after {
  content: '';
  position: absolute;
  right: 0px;
  top:0px;
  z-index:-1;
  width: 0%;
  height:1px;
  background: #FFE400;
  -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
  transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
}
.box:hover::after {
  width:100%;
}
.box:hover{
  border-left:1px solid #FFE400;
  border-right:1px solid #ff00f3;
}

#nav-drawer {
  position: relative;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}

/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;/*線の太さ*/
  width: 25px;/*長さ*/
  border-radius: 3px;
  background: white;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}
#nav-drawer {
  position: absolute;
  top: 5vw;
  right: 2vw;
}

/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;/*最前面に*/
  width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 330px;/*最大幅（調整してください）*/
  height: 100%;
  background: #fff;/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(105%);
  transform: translateX(105%);/*左に隠しておく*/
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

.sp_only {
  display: none;
}
.pc_only {
  display: block;
}

@media screen and (max-width:480px){

  .sp_only {
    display: block;
  }
  .pc_only {
    display: none;
  }
  #nav-open {
      display:block;
    }

  .headWrap {
      height: 15vw ;
  }
  #header {
      float: none;
      padding-left:5vw;
      line-height: 15vw;
  }


  /* メニューバー */
.menu__single p{
  text-align: left;
  padding-left: 5vw;
}
.menu__single a {
  text-decoration: underline;
}
.menu__single {
  float: none;
  display: block;
  width: auto;
  height: auto;
  padding: 0;
  line-height: 8vh;
  background-color: gold;
  border: solid 1px white;
}
.menu__single:hover ul.menu__second-level {
    top: 0;
}
.menu__second-level {
    position: unset;
    width: auto;
    text-align: center;
    transition: all .2s ease;
    visibility: visible;
    opacity: 1;
}
.menu__second-level li {
      line-height: 7vh;
      border: none;
      background-color: white;
      font-size: 4vh;
}
.menu__second-level a {
      color: dimgray!important;
      text-decoration: underline;
      text-decoration-color: gold;
}


/* トップページ */
  .top h2 {
    font-size: 7.5vw;
    padding: 10vw;
    }
  .top span {
    display: none;
  }
  .top p {
    font-size: 5vw;
    padding: 0 14vw;
  }
  .top h4 {
    font-size: 9vw;
    padding: 10vw 10vw 10vw 15vw;
    line-height: 17vw;
  }
  .spbr {
    display: inherit;
  }

/* メニュー項目 */
.menuwrap img {
    width: 100vw;
    padding: 0;
    height: 150vw;
    object-fit: cover;
    z-index: -10;
}
.menuwrap {
  background-color: white;
  height: 150vw;
}
.menu {
  float: none;
  padding: 0;
  font-size: 20vw;
  position: relative;
  top: -130vw;
  width: 100vw;
  text-shadow: 0 0 2vw white, 0 0 2vw white, 0 0 2vw white, 0 0 2vw white, 0 0 2vw white, 0 0 2vw white, 0 0 2vw white, 0 0 2vw white, 0 0 2vw white, 0 0 2vw white, 0 0 2vw white, 0 0 2vw white, 0 0 2vw white, 0 0 2vw white, 0 0 2vw white, 0 0 2vw white, 0 0 2vw white, 0 0 2vw white;
}
.menu h3 {
  padding: 15vw;
}
.menu span {
  font-size: 25vw;
  text-shadow:0 0 2vw white, 0 0 2vw white, 0 0 2vw white, 0 0 2vw white, 0 0 2vw white, 0 0 2vw white, 0 0 2vw white, 0 0 2vw white, 0 0 2vw white, 0 0 2vw white, 0 0 2vw white, 0 0 2vw white, 0 0 2vw white, 0 0 2vw white, 0 0 2vw white, 0 0 2vw white, 0 0 2vw white, 0 0 2vw white ;
}
.menu li {
  font-size: 11vw;
  float: none;
  width: 50vw;
  padding: 6vw;
  line-height: unset;
}

/* プロ項目 */
.prowrap {
  height: 150vw;
  width: 100vw;
  float: none;
}
.prowrap img {
  width: 100vw;
  height: 60vw;
  padding: 0;
  position: relative;
  top: 90vw;
}
.pro {
  width: 100vw;
  font-size: 10vw;
  position: absolute;
}
.pro span {
  font-size: 15vw;
}
.pro h3 {
  padding: 4vw;
}
.pro p {
  font-size: 5vw;
  padding: none;
  width: 65vw;
}
.pro a {
  font-size: 9vw;
  border: solid 1px gold;
  border-radius: 50px;
  margin-top: 2vw;
}
.member {
  padding-top: 8vw!important;
}
.box:hover {
  border: none;
}
.box::after {
  display: none;
}
.box::before {
  display: none;
}

/* フォトギャラリー  */
.photwrap {
    padding-bottom: 5vw;
}
.phot {
    font-size: 10vw;
    padding-top: 0;
}
.phot h3 {
    padding-bottom: 4vw;
}
.phot span {
    font-size: 14vw;
}
#photgallery img {
    height: 50vw;
    width: 50vw;
}
.photlink a {
  font-size: 8vw;
  margin-right:8vw;
}

/* 各コースのページ */
.coursepage {
    padding: 20vw 5vw;
    width: auto;
}
.coursepage h2 {
    font-size: 5.6vw;
}
.coursepage h3 {
    padding-top: 10vw;
    padding-bottom: 3vw;
    font-size: 6vw;
    line-height: 8vw;
}
.coursepage p {
    font-size: 4.5vw;
    text-shadow: 0 0 3px white, 0 0 3px white, 0 0 3px white, 0 0 3px white;
}
.backimg img {
    width: 100%;
    height: 60vw;
    opacity: 0.4;
}
.backimg {
    position: fixed;
    top: 60vw;
    left: 5vw;
    width: 90vw;
}
/* こだわりページ */
.commitment_page {
    padding: 20vw 5vw;
    width: auto;
}
.commitment_page h2 {
    font-size: 8vw;
}
.commitment_page h3 {
    font-size: 6vw;
    text-align: center;
}
.commitment_page p {
    font-size: 4vw;
    width: auto;
    padding: 4vw;
    background-color: unset;
    box-shadow: none;
    text-shadow: 0 0 3px white, 0 0 3px white;
}
.commitment_page img {
    width: 70vw;
    height: 70vw;
}
.tp_1 img {
    position: absolute;
    right: 25vw;
    top: 125vw;
    opacity: 0.5;
    box-shadow: unset;
}
.tp_2 {
    padding-top: 30vw;
    padding-bottom: 0;
}
.tp_2 img {
    position: absolute;
    left: 25vw;
    top: 295vw;
    opacity: 0.6;
    border-radius: 50%;
    box-shadow: unset;
    object-fit: cover;
}
/* フォトページ */
.phot_page {
    padding: 20vw 5vw;
    width: auto;
    height: 240vw;
}
.phot_page h2 {
    font-size: 8vw;
}
.pg {
    width: 88vw;
    height: 45vw;
}
a.pg img {
    height: 26vw;
    width: 85vw;
}
a.pg p {
    font-size: xx-large;
}

/* 外観ページ */
.gaikanpage {
    padding: 20vw 5vw;
    width: auto;
}
.gaikanpage h2 {
    font-size: 8vw;
}
.gaikan img {
    width: 44vw;
    height: 44vw;
}
.gaikan {
    width: 44vw;
    padding-top: 0;
}

/* インフォ項目 */
.infowrap {
  height: 150vw;
  width: 100vw;
  float: none;
}
.infowrap img {
  width: 100vw;
  height: 60vw;
  padding: 0;
  position: relative;
  top: 90vw;
}
.info {
  width: 100vw;
  font-size: 10vw;
  position: relative;
  top: -50vw;
}
.info span {
  font-size: 15vw;
}
.info a {
  font-size: 10vw;
}
.info li {
  width: 60vw;
}

.contactwrap {
  height: 125vw;
}
.contact h3{
  font-size: 10vw;
}
.contact span {
  font-size: 10vw;
}
.con1 ,.con2 ,.con3{
  width: 50vw;
  height: 50vw;
}
.con1 {
  position: relative;
}
.con2 {
  position: relative;
  right: -40vw;
  top: -30vw;
}
.con3 {
  position: absolute;
  top: 50vw;
}

/* コース料理ページ */
.coursetoppage {
    padding: 20vw 5vw 10vw;
    width: auto;
    text-align: center;
}
.coursetoppage h2 {
    font-size: 8vw;
}
.coursetitle {
    height: auto;
    position: relative;
}
.coursetitle img {
    width: 90vw;
    height: 45vw;
    float: none;
    display: block;
    opacity: 0.6;
    padding-bottom: 2vw;
}
.coursetitle h3 {
    font-size: 5vw;
    position: absolute;
    top: 4vw;
    width: -webkit-fill-available;
        text-shadow: 0 0 3px white, 0 0 3px white, 0 0 3px white, 0 0 3px white;
}
.menulink {
  font-size: 4vw;
  font-family: cursive;
}

/* フードページ */
.foodmenu {
    padding: 20vw 5vw 10vw;
    width: auto;
    text-align: center;
}
.foodmenu h2 {
    font-size: 8vw;
}
.foods {
  width: 44vw;
}
.foods img {
    width: 40vw;
    height: 40vw;
}
/* ドリンクページ */
.drinkmenu {
    padding: 20vw 5vw 10vw;
    width: auto;
    text-align: center;
}
.drinkmenu h2 {
    font-size: 8vw;
}
.drinkmenu h3 {
  font-size: 8vw;
  line-height: 10vw;
  padding-top: 4.5vw;
  padding-bottom: 4vw;
}
.drinktitle {
  padding: 0 5vw;
}
.drinktitle li {
  text-align: left;
  font-size: 4vw;
}
/* 料理のプロページ */
.goodpage {
    padding: 20vw 5vw;
    width: auto;
    text-align: center;
}
.goodpage h2 {
    font-size: 8vw;
}
.chef img {
    float: none;
    width: 70vw;
    height: 40vw;
    object-fit: contain;
}
.chef01, .chef02 {
    height: auto;
    padding-top: 1vw;
}
.chef h4 {
    font-size: 6.5vw;
}
.chef h3 {
    font-size: 7.5vw;
    line-height: 10vw;
    padding-bottom: 2vw;
}
.chef p {
    font-size: 4vw;
}
.chef01 {
  padding-bottom: 10vw;
}
/* メールページ */
.mailpage {
    padding: 20vw 5vw;
}
.mailpage h2 {
    font-size: 8vw;
}

/* 予約画面 */
.reservation_page {
    padding: 20vw 5vw;
}
.reservation_page h2 {
    font-size: 8vw;
}

/* よくあるご質問 */
.qa_page {
    padding: 20vw 5vw;
}
.qa_page h2 {
    font-size: 8vw;
}
.qa_page h3 {
  font-size: 5vw;
}
p.qa_title {
    margin-top: 6vw;
    font-size: 5vw;
}
p.question {
    font-size: 4.7vw;
    padding: 1vw 5vw;
}

p.answer {
    font-size: 4vw;
    margin: 0 6vw;
}

/* フッター */
.left_footer {
  float: none;
  width: 100%;
  text-align: center;
}
ul.footer_list {
  display: inline-block;
  font-size: 5vw;
  text-align: center;
}
.m_menu {
  padding: 0;
}
.m_menu p{
  font-size: 8vw;
  padding-top: 3vw;
}
.s_menu {
    padding: 0;
}
.tel {
  padding: 8vw 0;
  text-align: center;
}
.tel p{
  font-size: 5vw;
  padding: 5vw 0;
}
.tel_no {
    font-size: 9vw;
}
.google_map {
    text-align: center;
    padding-bottom: 8vw;
}
iframe {
    width: 85vw;
    height: 50vw;
}


#copy {
      font-size: 3vw;
}
}
@media screen and (min-width:481px) {
  #nav-open {
    display:none;
  }
}
