#headWrap {
  height: 60px ;
  width: 100vw;
  background-color: yellow;
}

#header {
  text-align: left;
  float: left;
  line-height: 60px;
  width: 50vw;
}

#menu {
  text-align: right;
}

#menu li {
  list-style: none;
  float:left;
  padding-right: 10px;
  line-height: 60px;

}

#main img{
    width: 100vw;
    height: 50vw;
}

h2 {
  color: red;
}


#footerMenu {
  background-color: grey;
  text-align: right;
  float: left;
}

#copyright {
  text-align: center;
  background-color: orange;
}
